@tailwind utilities;
@tailwind base;

html, body {
  height: 100%;
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.state-message.success {
  color: green;
}

.state-message.error {
  color: red;
}

.trapezoid-path {
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}